Assignment: Import, Head, Drop, Count, CountSum, Unique, NUnique, Delimiter, LabelEncoder, OnehotEncoder

Dataset Link:

In [6]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [7]:
#importing the csv file
df = pd.read_csv('school-dataset.csv')

In [8]:
#print head of the file
print(df.head())

print("------------------------------------")
#print first 10 records
print(df.head(10))

      DBN                                School Name Grade  Year  \
0  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     3  2015
1  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     3  2016
2  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     3  2017
3  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     4  2016
4  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     4  2017

       Category  Number Tested Mean Scale Score Level1_N Level1_% Level2_N  \
0  All Students             43              306        9     20.9       20
1  All Students             52              319        4      7.7       20
2  All Students             50              323        2      4.0       16
3  All Students             40              315        4     10.0       18
4  All Students             52              320        4      7.7       18

  Level2_% Level3_N Level3_% Level4_N Level4_% Level3+4_N Level3+4_%
0     46.5       13     30.2        1      2.3         14       32.6
1     38.5       25     48.1        3      5.8         28       53.8
2     32.0       29     58.0        3      6.0         32       64.0
3     45.0       14     35.0        4     10.0         18       45.0
4     34.6       21     40.4        9     17.3         30       57.7
------------------------------------
      DBN                                 School Name       Grade  Year  \
0  84K037   BEGINNING WITH CHILDREN CHARTER SCHOOL II           3  2015
1  84K037   BEGINNING WITH CHILDREN CHARTER SCHOOL II           3  2016
2  84K037   BEGINNING WITH CHILDREN CHARTER SCHOOL II           3  2017
3  84K037   BEGINNING WITH CHILDREN CHARTER SCHOOL II           4  2016
4  84K037   BEGINNING WITH CHILDREN CHARTER SCHOOL II           4  2017
5  84K037   BEGINNING WITH CHILDREN CHARTER SCHOOL II           5  2017
6  84K037   BEGINNING WITH CHILDREN CHARTER SCHOOL II  All Grades  2015
7  84K037   BEGINNING WITH CHILDREN CHARTER SCHOOL II  All Grades  2016
8  84K037   BEGINNING WITH CHILDREN CHARTER SCHOOL II  All Grades  2017
9  84K125  SUCCESS ACADEMY CHARTER SCHOOL  BED STUY 2           3  2015

       Category  Number Tested Mean Scale Score Level1_N Level1_% Level2_N  \
0  All Students             43              306        9     20.9       20
1  All Students             52              319        4      7.7       20
2  All Students             50              323        2      4.0       16
3  All Students             40              315        4     10.0       18
4  All Students             52              320        4      7.7       18
5  All Students             39              316        3      7.7       17
6  All Students             43              306        9     20.9       20
7  All Students             92              317        8      8.7       38
8  All Students            141              320        9      6.4       51
9  All Students             56              322        8     14.3       15

  Level2_% Level3_N Level3_% Level4_N Level4_% Level3+4_N Level3+4_%
0     46.5       13     30.2        1      2.3         14       32.6
1     38.5       25     48.1        3      5.8         28       53.8
2     32.0       29     58.0        3      6.0         32       64.0
3     45.0       14     35.0        4     10.0         18       45.0
4     34.6       21     40.4        9     17.3         30       57.7
5     43.6       17     43.6        2      5.1         19       48.7
6     46.5       13     30.2        1      2.3         14       32.6
7     41.3       39     42.4        7      7.6         46       50.0
8     36.2       67     47.5       14      9.9         81       57.4
9     26.8       27     48.2        6     10.7         33       58.9

In [9]:
#print the tail of the dataset
print(df.tail())


print("---------------------------")

#printing last 8 records of the dataset

print(df.tail(8))

         DBN                        School Name       Grade  Year  \
3586  84X730  BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2013
3587  84X730  BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2014
3588  84X730  BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2015
3589  84X730  BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2016
3590  84X730  BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2017

          Category  Number Tested Mean Scale Score Level1_N Level1_% Level2_N  \
3586  All Students            148              298       43     29.1       75
3587  All Students            148              303       35     23.6       69
3588  All Students            143              309       30     21.0       59
3589  All Students            143              318       12      8.4       49
3590  All Students            141              322        8      5.7       46

     Level2_% Level3_N Level3_% Level4_N Level4_% Level3+4_N Level3+4_%
3586     50.7       26     17.6        4      2.7         30       20.3
3587     46.6       33     22.3       11      7.4         44       29.7
3588     41.3       44     30.8       10      7.0         54       37.8
3589     34.3       66     46.2       16     11.2         82       57.3
3590     32.6       67     47.5       20     14.2         87       61.7
---------------------------
         DBN                        School Name       Grade  Year  \
3583  84X730  BRONX CHARTER SCHOOL FOR THE ARTS           5  2015
3584  84X730  BRONX CHARTER SCHOOL FOR THE ARTS           5  2016
3585  84X730  BRONX CHARTER SCHOOL FOR THE ARTS           5  2017
3586  84X730  BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2013
3587  84X730  BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2014
3588  84X730  BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2015
3589  84X730  BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2016
3590  84X730  BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2017

          Category  Number Tested Mean Scale Score Level1_N Level1_% Level2_N  \
3583  All Students             50              310       10     20.0       21
3584  All Students             44              309        7     15.9       16
3585  All Students             42              318        3      7.1       15
3586  All Students            148              298       43     29.1       75
3587  All Students            148              303       35     23.6       69
3588  All Students            143              309       30     21.0       59
3589  All Students            143              318       12      8.4       49
3590  All Students            141              322        8      5.7       46

     Level2_% Level3_N Level3_% Level4_N Level4_% Level3+4_N Level3+4_%
3583     42.0       14     28.0        5     10.0         19       38.0
3584     36.4       18     40.9        3      6.8         21       47.7
3585     35.7       18     42.9        6     14.3         24       57.1
3586     50.7       26     17.6        4      2.7         30       20.3
3587     46.6       33     22.3       11      7.4         44       29.7
3588     41.3       44     30.8       10      7.0         54       37.8
3589     34.3       66     46.2       16     11.2         82       57.3
3590     32.6       67     47.5       20     14.2         87       61.7

In [10]:
#all the columns of the dataset

print(df.columns)

Index(['DBN', 'School Name', 'Grade', 'Year', 'Category', 'Number Tested',
       'Mean Scale Score', 'Level1_N', 'Level1_%', 'Level2_N', 'Level2_%',
       'Level3_N', 'Level3_%', 'Level4_N', 'Level4_%', 'Level3+4_N',
       'Level3+4_%'],
      dtype='object')

In [11]:
#copying the dataset to avoid modification in original dataset

df_copy = df.copy()

#printing the columns of the duplicate dataset

print(df_copy.columns)

Index(['DBN', 'School Name', 'Grade', 'Year', 'Category', 'Number Tested',
       'Mean Scale Score', 'Level1_N', 'Level1_%', 'Level2_N', 'Level2_%',
       'Level3_N', 'Level3_%', 'Level4_N', 'Level4_%', 'Level3+4_N',
       'Level3+4_%'],
      dtype='object')

In [12]:
#dropping the columns in the duplicate dataset

columns_to_drop = ['School Name', 'Grade']

df_copy = df_copy.drop(columns=columns_to_drop)

#checking
print(df_copy.head())

print("--------------------------------------")

print(df_copy.columns)

      DBN  Year      Category  Number Tested Mean Scale Score Level1_N  \
0  84K037  2015  All Students             43              306        9
1  84K037  2016  All Students             52              319        4
2  84K037  2017  All Students             50              323        2
3  84K037  2016  All Students             40              315        4
4  84K037  2017  All Students             52              320        4

  Level1_% Level2_N Level2_% Level3_N Level3_% Level4_N Level4_% Level3+4_N  \
0     20.9       20     46.5       13     30.2        1      2.3         14
1      7.7       20     38.5       25     48.1        3      5.8         28
2      4.0       16     32.0       29     58.0        3      6.0         32
3     10.0       18     45.0       14     35.0        4     10.0         18
4      7.7       18     34.6       21     40.4        9     17.3         30

  Level3+4_%
0       32.6
1       53.8
2       64.0
3       45.0
4       57.7
--------------------------------------
Index(['DBN', 'Year', 'Category', 'Number Tested', 'Mean Scale Score',
       'Level1_N', 'Level1_%', 'Level2_N', 'Level2_%', 'Level3_N', 'Level3_%',
       'Level4_N', 'Level4_%', 'Level3+4_N', 'Level3+4_%'],
      dtype='object')

In [13]:
#counting

print(df.count())

DBN                 3591
School Name         3591
Grade               3591
Year                3591
Category            3591
Number Tested       3591
Mean Scale Score    3591
Level1_N            3591
Level1_%            3591
Level2_N            3591
Level2_%            3591
Level3_N            3591
Level3_%            3591
Level4_N            3591
Level4_%            3591
Level3+4_N          3591
Level3+4_%          3591
dtype: int64

In [14]:
#sum of the whole count

print(df.count().sum())

61047

In [15]:
import random

columns = list(df.columns)

column_unq = random.choice(columns)

print("Chosen Column: " + column_unq)

unique_values = df[column_unq].unique()

print(unique_values)

Chosen Column: Number Tested
[ 43  52  50  40  39  92 141  56  78  81  47  72 125 153  73 102  74  54
  90 156 216  76  99  98  69  91  63 168 252  57  61  64  59  62  60  66
 120 190 247 294  80  83  82  87  77  68 310 316 313 329 326  89  70  84
  93  79  97 106 107  86  75 468 494 519 533 553  94  88  85  55 320 345
 348 338 407  67  58  65 450 466 442 420  48  49  96 534 428 404 105 104
 204 297 269 296  51  46  53  44  25  45 273 307 309 315 311  71 149 203
 304 186 245 353  28  24  95 171 239 301 286 264  36 181 214 101 328 424
 520 532  34  26  18  19 266 343 408 465 497  31 201 250 295 284 299 100
 507 531 558 567  41  33  23  35 350 419 481 287 282 325 342 160 240 430
 523 527 272 280 319 332 151 178 169  30 129 238 114 115 134 144 147 113
 143 131 109 121 103 108 347 461 565 660 689 111 117  37  38  27 110  32
 271 267 289 260  42 253 255 336 333 335 308 377 277 217 391 500 118 321
 415 512 145 397 372 351 185 167 132 491 483 459 425 426 119 126 112 183
 437 555 645 388 441 140 177 231 288 340 339 418 221 207 279 122 176 224
 285 209 192 191 130 386 460 327 505 200 258 206 318 138 360 402  22 116
 179 257 403 195 398 467 148 208 175 152 184 124 232 416 218 303 199 536
 142 197 157 187 223 522 529 548 137 346 401 259 312 355 446 545 544 551
 361 445 463 479 337 123 127 443 526 562 755 593 383 393 392 382 385 139
 193 246 400 395 493 352 473 480 472 470 128 475 469   1 330 291 394 165
  20  29 150 241 170 244 164  21 163 174 188 198 379 482 275 251 380 305
 274 254 249 213 146 227 364 369 162 243 341 511 334 486 236 262 453 447
 136 263 229 322 323 389 539 135 367 161 452 462 435 212 226 270 196 268
 210 237 370 194 159 234 230 381 331 222 490 154 290 387 412 172 358 436
 344 432 485 498 413 411]

In [16]:
num_unique_values = df[column_unq].nunique()

print(num_unique_values)

420

In [17]:
missing_values = df.isnull().sum()

print(missing_values)

DBN                 0
School Name         0
Grade               0
Year                0
Category            0
Number Tested       0
Mean Scale Score    0
Level1_N            0
Level1_%            0
Level2_N            0
Level2_%            0
Level3_N            0
Level3_%            0
Level4_N            0
Level4_%            0
Level3+4_N          0
Level3+4_%          0
dtype: int64

In [22]:
#usage of delimiter

df_delimited = pd.read_csv("school-dataset.csv", sep=",")

print(df_delimited)

         DBN                                School Name       Grade  Year  \
0     84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II           3  2015
1     84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II           3  2016
2     84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II           3  2017
3     84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II           4  2016
4     84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II           4  2017
...      ...                                        ...         ...   ...
3586  84X730          BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2013
3587  84X730          BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2014
3588  84X730          BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2015
3589  84X730          BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2016
3590  84X730          BRONX CHARTER SCHOOL FOR THE ARTS  All Grades  2017

          Category  Number Tested Mean Scale Score Level1_N Level1_% Level2_N  \
0     All Students             43              306        9     20.9       20
1     All Students             52              319        4      7.7       20
2     All Students             50              323        2      4.0       16
3     All Students             40              315        4     10.0       18
4     All Students             52              320        4      7.7       18
...            ...            ...              ...      ...      ...      ...
3586  All Students            148              298       43     29.1       75
3587  All Students            148              303       35     23.6       69
3588  All Students            143              309       30     21.0       59
3589  All Students            143              318       12      8.4       49
3590  All Students            141              322        8      5.7       46

     Level2_% Level3_N Level3_% Level4_N Level4_% Level3+4_N Level3+4_%
0        46.5       13     30.2        1      2.3         14       32.6
1        38.5       25     48.1        3      5.8         28       53.8
2        32.0       29     58.0        3      6.0         32       64.0
3        45.0       14     35.0        4     10.0         18       45.0
4        34.6       21     40.4        9     17.3         30       57.7
...       ...      ...      ...      ...      ...        ...        ...
3586     50.7       26     17.6        4      2.7         30       20.3
3587     46.6       33     22.3       11      7.4         44       29.7
3588     41.3       44     30.8       10      7.0         54       37.8
3589     34.3       66     46.2       16     11.2         82       57.3
3590     32.6       67     47.5       20     14.2         87       61.7

[3591 rows x 17 columns]

In [24]:
#categorical columns

categorical_columns = df.select_dtypes(include=['object']).columns

print(categorical_columns)

Index(['DBN', 'School Name', 'Grade', 'Category', 'Mean Scale Score',
       'Level1_N', 'Level1_%', 'Level2_N', 'Level2_%', 'Level3_N', 'Level3_%',
       'Level4_N', 'Level4_%', 'Level3+4_N', 'Level3+4_%'],
      dtype='object')

In [27]:
#using label encoder

le = LabelEncoder()


df['School_Name_Categorical'] = le.fit_transform(df['School Name'])

#verifyinh
print(df.head())

print("------------")
#new column data
print(df['School_Name_Categorical'])
print("------------")

#info
print(df['School_Name_Categorical'].unique())

      DBN                                School Name Grade  Year  \
0  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     3  2015
1  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     3  2016
2  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     3  2017
3  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     4  2016
4  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     4  2017

       Category  Number Tested Mean Scale Score Level1_N Level1_% Level2_N  \
0  All Students             43              306        9     20.9       20
1  All Students             52              319        4      7.7       20
2  All Students             50              323        2      4.0       16
3  All Students             40              315        4     10.0       18
4  All Students             52              320        4      7.7       18

  Level2_% Level3_N Level3_% Level4_N Level4_% Level3+4_N Level3+4_%  \
0     46.5       13     30.2        1      2.3         14       32.6
1     38.5       25     48.1        3      5.8         28       53.8
2     32.0       29     58.0        3      6.0         32       64.0
3     45.0       14     35.0        4     10.0         18       45.0
4     34.6       21     40.4        9     17.3         30       57.7

   School_Name_Categorical
0                       18
1                       18
2                       18
3                       18
4                       18
------------
0       18
1       18
2       18
3       18
4       18
        ..
3586    25
3587    25
3588    25
3589    25
3590    25
Name: School_Name_Categorical, Length: 3591, dtype: int64
------------
[ 18 150 157 167  67 184   6 108   7 181 113  91 149  68 103 174   8 114
  53   5  63 106   4 112  15 136  30   3  49  50  31  52  17  65  36  41
 116  64 115  69 173  34 179 127  40  38 168  66  55  89 169 171 182  39
  43  93 151   2 117 134  33 152  16  10 101   9  54  45  32 176  42 118
 129  35  51  11  37  57 111 120  76 126  62 170 172  83  78  44 131 166
 180  81 141 119  84  74  87 109  82  56 158 128  60 159 160 161 147 178
 104  58 162 142 133  61 165 102  80  12  85  86 110  73  46 137 123 183
  79 163 164  47 139 140   1 121 138 135 105 148 130  48  99  77 124  28
  71  24  90 175 143  92 144 100 145  95 155  20  27 125  26  23  21  96
  14 122 156  19  13  72  59 177  75   0 146 153 154  97  98 132  29 107
  70  88  94  22  25]

In [33]:
# One-hot encoding
onehot_encoder = OneHotEncoder(sparse=False, drop='first') # drop='first' to avoid multicollinearity


category_encoded = onehot_encoder.fit_transform(df[['Category']])


unique_categories = df['Category'].unique()


feature_names = [f'{col}_{cat}' for cat in unique_categories[1:]]


df_encoded = pd.concat([df, pd.DataFrame(category_encoded, columns=feature_names)], axis=1)


df_encoded = df_encoded.drop(['Category'], axis=1)

print(df_encoded.head())

      DBN                                School Name Grade  Year  \
0  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     3  2015
1  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     3  2016
2  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     3  2017
3  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     4  2016
4  84K037  BEGINNING WITH CHILDREN CHARTER SCHOOL II     4  2017

   Number Tested Mean Scale Score Level1_N Level1_% Level2_N Level2_%  \
0             43              306        9     20.9       20     46.5
1             52              319        4      7.7       20     38.5
2             50              323        2      4.0       16     32.0
3             40              315        4     10.0       18     45.0
4             52              320        4      7.7       18     34.6

  Level3_N Level3_% Level4_N Level4_% Level3+4_N Level3+4_%  \
0       13     30.2        1      2.3         14       32.6
1       25     48.1        3      5.8         28       53.8
2       29     58.0        3      6.0         32       64.0
3       14     35.0        4     10.0         18       45.0
4       21     40.4        9     17.3         30       57.7

   School_Name_Categorical
0                       18
1                       18
2                       18
3                       18
4                       18

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(